<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

   <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
<!--      rel="stylesheet"-->
<!--      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"-->
<!--      crossorigin="anonymous"-->
<!--    />-->
    <title>Акции</title>
</head>
<body>


   <nav class="navbar navbar-expand-lg navbar-blue" style="background-color:#e3f2fd;">
   <div class="container">
      <header class="d-flex justify-content-center py-3">
         <div class="navbar-nav">
         {% if session['isAdmin'] %}
          <a class="nav-item nav-link"  href="{{ url_for('view.home') }}">Главная</a>
          <a class="nav-item nav-link"  href="{{ url_for('view.afisha') }}">Афиша</a>
          <a class="nav-item nav-link"  href="{{ url_for('view.seance') }}">Расписание</a>
          <a class="nav-item nav-link"  href="{{ url_for('view.add_ticket') }}">Купить билет</a>
          <a class="nav-item nav-link"  href="{{ url_for('view.cinema') }}">О кинотеатре</a>
          <a class="nav-item nav-link"  href="{{ url_for('view.admin') }}">Страница администратора</a>
          <a class="nav-item nav-link"  href="{{ url_for('view.profile') }}">Профиль</a>
          <a class="nav-item nav-link"  href="{{ url_for('auth.logout') }}">Выход</a>
          {% elif session['logged_in'] %}
          <a class="nav-item nav-link"  href="{{ url_for('view.home') }}">Главная</a>
          <a class="nav-item nav-link"  href="{{ url_for('view.afisha') }}">Афиша</a>
          <a class="nav-item nav-link"  href="{{ url_for('view.seance') }}">Расписание</a>
          <a class="nav-item nav-link"  href="{{ url_for('view.add_ticket') }}">Купить билет</a>
          <a class="nav-item nav-link"  href="{{ url_for('view.cinema') }}">О кинотеатре</a>
          <a class="nav-item nav-link"  href="{{ url_for('view.profile') }}">Профиль</a>
          <a class="nav-item nav-link"  href="{{ url_for('auth.logout') }}">Выход</a>
          {% else %}
          <a class="nav-item nav-link"  href="{{ url_for('view.home') }}">Главная</a>
          <a class="nav-item nav-link"  href="{{ url_for('view.afisha') }}">Афиша</a>
          <a class="nav-item nav-link"  href="{{ url_for('view.seance') }}">Расписание</a>
          <a class="nav-item nav-link"  href="{{ url_for('view.add_ticket') }}">Купить билет</a>
          <a class="nav-item nav-link"  href="{{ url_for('view.cinema') }}">О кинотеатре</a>
          <a class="nav-item nav-link"  href="{{ url_for('auth.register') }}">Регистрация</a>
          <a class="nav-item nav-link"  href="{{ url_for('auth.login') }}">Вход</a>
          {% endif %}
          </div>

      </header>
    </div>

    </nav><br>



<center><h1 style="text-transform:uppercase">Акции</h1>

</center>
{% if akzii_len == 0 %}

 <p style=position:absolute;left:8%;>Сейчас в нашем кинотеатре нет действующих акций</p>

 {% else %}

      <table class="table table-sm table-striped" style="width: 90%; margin: 0 auto;">
            <thead class="thead-dark">
                <tr align="center" >
                    <th scope="col">№</th>
                    <th scope="col">Название акции</th>
                    <th scope="col">Описание</th>
                </tr>
            </thead>
            <tbody>
            {% for i in range(akzii_len) %}
                <tr>
                    <td class="table-primary" style="width:120px;" align="center">{{ akzii[i][0] }}</td>
                    <td align="center">{{ akzii[i][1] }}</td>
                    <td align="center">{{ akzii[i][2] }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

 {% endif %}

</body>
</html>


