<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Зал</title>
  <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
</head>
<body link="#2f4f4f" vlink="#000000" alink="#191970" bgcolor="black">


   <nav class="navbar navbar-expand-lg navbar-blue" style="background-color:#e3f2fd;">
   <div class="container">
      <header class="d-flex justify-content-center py-3">
         <div class="navbar-nav">
         {% if session['isAdmin'] %}
          <a class="nav-item nav-link"  href="{{ url_for('view.home') }}">Главная</a>
          <a class="nav-item nav-link"  href="{{ url_for('view.afisha') }}">Афиша</a>
          <a class="nav-item nav-link"  href="{{ url_for('view.seance') }}">Расписание</a>
          <a class="nav-item nav-link"  href="{{ url_for('view.add_ticket') }}">Купить билет</a>
          <a class="nav-item nav-link"  href="{{ url_for('view.cinema') }}">О кинотеатре</a>
          <a class="nav-item nav-link"  href="{{ url_for('view.admin') }}">Страница администратора</a>
          <a class="nav-item nav-link"  href="{{ url_for('view.profile') }}">Профиль</a>
          <a class="nav-item nav-link"  href="{{ url_for('auth.logout') }}">Выход</a>
          {% elif session['logged_in'] %}
          <a class="nav-item nav-link"  href="{{ url_for('view.home') }}">Главная</a>
          <a class="nav-item nav-link"  href="{{ url_for('view.afisha') }}">Афиша</a>
          <a class="nav-item nav-link"  href="{{ url_for('view.seance') }}">Расписание</a>
          <a class="nav-item nav-link"  href="{{ url_for('view.add_ticket') }}">Купить билет</a>
          <a class="nav-item nav-link"  href="{{ url_for('view.cinema') }}">О кинотеатре</a>
          <a class="nav-item nav-link"  href="{{ url_for('view.profile') }}">Профиль</a>
          <a class="nav-item nav-link"  href="{{ url_for('auth.logout') }}">Выход</a>
          {% else %}
          <a class="nav-item nav-link"  href="{{ url_for('view.home') }}">Главная</a>
          <a class="nav-item nav-link"  href="{{ url_for('view.afisha') }}">Афиша</a>
          <a class="nav-item nav-link"  href="{{ url_for('view.seance') }}">Расписание</a>
          <a class="nav-item nav-link"  href="{{ url_for('view.add_ticket') }}">Купить билет</a>
          <a class="nav-item nav-link"  href="{{ url_for('view.cinema') }}">О кинотеатре</a>
          <a class="nav-item nav-link"  href="{{ url_for('auth.register') }}">Регистрация</a>
          <a class="nav-item nav-link"  href="{{ url_for('auth.login') }}">Вход</a>
          {% endif %}
          </div>

      </header>
    </div>

    </nav><br>

<center>

     <h3 class="display-4 font-weight-normal">Залы кинотеатра</h3><br>
     <table class="table table-striped" style="width: 90%; margin: 0 auto;">
            <thead class="thead-dark">
                <tr align="center" >
                    <th scope="col">Номер</th>
                    <th scope="col">Количество мест</th>
                    <th scope="col">Количество рядов</th>
                    <th scope="col">Количество мест</th>
                </tr>
            </thead>
            <tbody>
            {% for i in range(hall_len) %}
                <tr>
                    <td class="table-primary" align="center">{{ hall_inf[i][0] }}</td>
                    <td align="center">{{ hall_inf[i][1] }}</td>
                    <td align="center">{{ hall_inf[i][2] }}</td>
                    <td align="center">{{ hall_inf[i][3] }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>


    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul>
            {% for message in messages %}
            <p>{{ message }}</p>
            {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}

</center>
</body>
</html>

